{# News Article Card Component Macro #}
{% macro newsArticleCard(article) %}
    <div class="news-card" data-article-id="{{ article.id }}">
        <div class="news-image">
            <img src="{{ article.image }}" alt="{{ article.title }}">
            <div class="news-date">
                <span class="day">{{ article.date|date('j') }}</span>
                <span class="month">{{ article.date|date('M') }}</span>
            </div>
        </div>
        <div class="news-content">
            <h3>{{ article.title }}</h3>
            <p class="news-excerpt">{{ article.excerpt }}</p>
            
            <div class="news-meta">
                {% if article.author %}
                    <span class="news-author">
                        <i class="far fa-user"></i> {{ article.author }}
                    </span>
                {% endif %}
                {% if article.category %}
                    <span class="news-category">
                        <i class="far fa-folder"></i> {{ article.category }}
                    </span>
                {% endif %}
            </div>
            
            <div class="news-actions">
                {% from '_components/ui/button.twig' import button as btn %}
                {{ btn('Read More', 'secondary', '#', '', 'button', 'read-more-btn', '', 'small') }}
            </div>
        </div>
    </div>
{% endmacro %}
